<!DOCTYPE html>
<html lang="en" ng-app="simplyBlogApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Blog</title>
    <link rel="stylesheet" href="/assets/stylesheets/style.css">
    <base href="/index.ejs" />
</head>
<body ng-controller="ViewCategoryPostsController as vm">
    <!-- header starts here -->
    <header id="header" class="header">
        <div class="header-container">
            <div class="logo-block">
                <a href="#"><img src="/assets/images/simplyblog-logo.png" class="img-responsive" alt="My Blog Name"></a>
            </div>
            <nav class="navigation-panel">
                <ul class="nav-list">
                    <li class="nav-item"><a href="/" target="_self">Home</a></li>
                    <li class="nav-item"><a href="/posts" target="_self">Posts</a></li>
                    <li class="nav-item"><a href="/add-post" target="_self">Add Post</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="clearfix"></div>
    <!-- header ends here -->

    <!-- page body starts here -->
    <div class="page-body">
        <section id="welcome-page">
            <h1>Blog posts by category:</h1>
            
            <p ng-model="vm.message">{{ message }}</p>
            <!-- <span ng-model="vm.category">{{ category }}</span> -->
            <!-- <span ng-bind="$location.path()"></span> -->

            <!-- <input ng-click="viewPosts()" type="submit" value="Submit"> -->

            <!-- Post archive list starts here -->
            <div id="post-archive-list" class="post-archive-list">
                <div class="post-list-item" ng-repeat="post in data | orderBy: '-createdDate'">
                    <div class="post-buttons">
                        <input ng-click="editPostFunction()" type="button" name="editpost" id="editpost" class="btn edit-post-btn" value="Edit">
                        <input ng-click="deletePostFunction()" type="button" name="deletepost" id="deletepost" class="btn delete-post-btn" value="Delete">
                    </div>
                    <article id="{{ post._id }}" class="single-post">
                        <h2><a ng-href="/post/{{ post._id }}" target="_self">{{ post.title }}</a></h2>
                        <div class="post-body">{{ post.body }}</div>
                        <div class="post-category">Category: <span><a ng-href="/category/{{post.category}}" target="_self">{{ post.category }}</a></span></div>
                        <div class="post-date">Created on: <span>{{ post.createdDate }}</span></div>
                    </article>
                </div>
            </div>
            <!-- Post archive list ends here -->

            <!-- <div class="post" ng-repeat="post in data">
                <p>{{ post.title }}</p>
                <p>{{ post.body }}</p>
                <p>{{ post.category }}</p>
                <p>{{ post.createdDate }}</p>
            </div> -->
            

            <!-- <div class="results">
                <p>{{ status }}</p>
                <p>{{ data }}</p>
            </div> -->
        </section>
    </div>
    <!-- page body ends here -->

    <!-- footer starts here -->
    <footer id="footer" class="footer">
        <p>Copyright © 2020 My Blog Name. All rights reserved.</p>
    </footer>
    <!-- footer ends here -->

    <script src="/lib/angular/angular.js"></script>
    <script src="/assets/javascripts/category-posts.js"></script>

</body>
</html>